# Ignore __pycache__ directories
__pycache__/

# Ignore everything
*

# But allow these file types
!*.py
!*.bat
!*.txt
!*.md
!*.sh
!LICENSE

# Allow these files
!.pre-commit-config.yaml

# Allow assets folder
!assets/
!assets/**
!.github/
!.github/**

# Don't ignore .gitignore
!.gitignore
