# Ignore __pycache__ directories
__pycache__/

# Ignore everything
*

# Allow specific file types globally
!*.bat
!*.txt
!*.md
!*.sh
!LICENSE

# Allow these files
!.pre-commit-config.yaml

# Allow src folder and its .py files
!src/
src/*
!src/*.py

# Allow docs folder and its .py files
!docs/
docs/*
!docs/*.py

# Allow assets folder, but only .svg, .png, .rc, .css, .iss and .ico files
!assets/
assets/*
!assets/*.svg
!assets/*.png
!assets/*.ico
!assets/*.rc
!assets/*.res
!assets/*.css
!assets/*.iss

# Allow .github folder and its contents
!.github/
!.github/**

# Don't ignore .gitignore
!.gitignore
