PyYAML~=6.0.2
psutil~=7.0.0
pynvml~=12.0.0
PySide6~=6.9.1
safetensors~=0.5.3
numpy<2.0.0
torch~=2.7.0
sentencepiece~=0.2.0
setuptools~=80.7.1
huggingface-hub~=0.33.1
transformers~=4.56.1
fastapi~=0.115.12
uvicorn~=0.34.2
certifi~=2025.10.5
